@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-white: hsl(0, 0%, 100%);
	--color-light-pink: hsl(275, 100%, 97%);
	--color-grayish-purple: hsl(292, 16%, 49%);
	--color-dark-purple: hsl(292, 42%, 14%);
}

html {
	font-family: "Work Sans", sans-serif;
	font-size: 16px;
}

body {
	height: 100vh;
	background-image: url("../assets/images/background-pattern-mobile.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: var(--color-light-pink);
}

main {
	background-color: white;
	width: 85%;
	margin: 130px auto;
	container-type: inline-size;
	border-radius: .5rem;
	max-width: 600px;
}

p {
	display: block;
}

hr {
	height: 1px;
	border: none;
	background-color: var(--color-light-pink);
	margin: 0 7cqi;
}

header {
	display: flex;
	flex-flow: row nowrap;
	gap: 10cqi;
	margin-bottom: 6cqi;
	align-items: center;
	font-size: 14cqi;
	font-weight: 700;
	padding: 7cqi 7cqi 0 7cqi;
}

header img {
	width: 10cqi;
}

.question-answer {
	margin: 1.5rem 0;
	padding: 0 7cqi;
}

.question-answer .question {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	gap: 10cqi;
	cursor: pointer;
}

@media (hover: hover) {
.question-answer .question:hover p {
	color: var(--color-grayish-purple);
}}

.question-answer .answer {
	display: grid;
	grid-template-rows: 0fr;
	color: var(--color-grayish-purple);
	font-weight: 600;
	scale: 0;
	margin-top: 0;
	transition:
		margin .4s ease-in-out,
		scale .4s ease-in-out,
		grid-template-rows .4s ease-in-out;
}

.question-answer div {
	overflow: hidden;
}

.question-answer.active .answer {
	scale: 1;
	grid-template-rows: 1fr;
	margin-top: 1rem;
}

.question-answer .minus {
	display: none;
}

.question-answer.active .minus {
	display: block;
}

.question-answer.active .plus {
	display: none;
}

@media (width >= 900px) {
	body {
		background-image: url("../assets/images/background-pattern-desktop.svg");
	}
}